* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   position: relative;
}

nav {
   background-color: #919191;
   width: 100%;
   padding: 30px;

   color: white;
   font-size: 3rem;
}

nav div{
   margin-left: 200px;
}

.library {
   width: 65%;
   margin: 0 auto;
   margin-top: 100px;

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2vw;
}

.add-btn {
   height: 250px;
   width: 180px;
   border: 2px solid #ccc;
   border-radius: 0.8em;

   display: flex;
   justify-content: center;
   align-items: center;

   transition: all 50ms ease-out;
   box-shadow: 0 0 5px 3px #cccccc8c;
   user-select: none;
}

.add-btn div {
   width: 50px;
   text-align: center;
   color: #aaaaaa;
   font-size: 1.5rem;
}

.add-btn:hover {
   cursor: pointer;
   transform: scale(1.03);
   box-shadow: 0 0 10px 3px #ccc;
}

.book-card {
   height: 250px;
   width: 180px;
   border: 2px solid #ccc;
   border-radius: 0.8em;
   box-shadow: 0 0 5px 3px #cccccc8c;
   padding: 20px;

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-around;
   user-select: none;
}

.book-card div {
   width: 100%;
   text-align: center;
   font-size: 1.3rem;
   margin: 0;
   padding: 0;
}

.book-card .read-status {
   background-color: #10e710;
}

.book-card .not-read-status {
   background-color: #e8f71b;
}

.book-card .delete {
   background-color: lightcoral;
}

.book-card .delete:hover {
   cursor: pointer;
}

.container {
   position: absolute;
   height: 50vh;
   left: 40%;
   top: 50%;
   /* border: 2px solid black; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   z-index: 1;
}

.container form {
   position: relative;
   min-width: 300px;
   max-width: 300px;

   border: 5px solid #c7c7c7;
   border-radius: 1em;
   padding: 15px;

   display: flex;
   flex-flow: column;
}

.title, 
.author, 
.pages, 
.read-status,
 button {
   margin: 5px 0px;
   margin-bottom: 15px;
   user-select: none;
}

.container label {
   display: block;
   margin-bottom: 5px;
}

.pages input{
   font-size: 1rem;
   padding: 5px;
   width: 30%;
   box-sizing: border-box;
}

.pages label {
   display: inline-block;
}

.container .heading {
   margin: 10px auto;
   margin-bottom: 20px;
   font-size: 1.5rem;
   user-select: none;
}


.container input[type="text"] {
   width: 100%;
   height: 30px;
   display: block;
   padding: 1em;
   border: 2px solid #ccc;
   border-radius: 1em;
}

.container input[type="number"] {
   height: 30px;
   display: block;

   border: 2px solid #ccc;
   border-radius: 1em;
} 

.container input[type="checkbox"] {
   transform: scale(1.2);
   padding: 3px;
}

.container .read-status label {
   display: inline-block;
   margin-right: 5px;
}

.container .add button {
   border: 2px solid #ccc;
   border-radius: 0.5em;

   background-color: #23ff23;
   color: white;

   font-size: 1rem;
   width: 100px;
   height: 30px;
}

.container .add button:hover {
   cursor: pointer;
   background-color: #1fe01f;
}

.container .add {
   margin: 0 auto;
}

.cancel-btn {
   color: #a0a0a0;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   position: absolute;

   font-size: 1.3rem;
   right: 15px;
   top: 10px;
}

.cancel-btn:hover {
   color: black;
   transform: scale(1.2);
   cursor: pointer;
}

.overlay {
   position: fixed;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background-color: #00000079;
   display: none;
}

.active {
   display: block;
}